<html>
<head>
    <title>welpCAD</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/general.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/paper.js"></script>
    <script type="text/javascript" src="js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-materialize.min.js"></script>
    <script type="text/javascript" src="js/libs/three.min.js"></script>
    <script type="text/javascript" src="js/libs/threestats.min.js"></script>
    <script type="text/javascript" src="js/libs/three.trackballcontrols.js"></script>
    <script type="text/javascript" src="js/libs/filesaver.min.js"></script>

    <!-- load code for our object model -->
    <script type="text/javascript" src="js/obj/rect.js"></script>
    <script type="text/javascript" src="js/obj/circle.js"></script>
    <script type="text/javascript" src="js/obj/document.js"></script>

    <!-- application initialization -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/dataService.js"></script>
    <script type="text/javascript" src="js/objModal.js"></script>
    <script type="text/javascript" src="js/homeController.js"></script>
    <script type="text/javascript" src="js/designerController.js"></script>
    <script type="text/javascript" src="js/assemblyController.js"></script>
    <script type="text/javascript" src="js/componentDetailDirective.js"></script>
    <script type="text/javascript" src="js/designerSurfaceDirective.js"></script>
    <script type="text/javascript" src="js/assemblyRendererDirective.js"></script>

</head>
<body ng-app="welpCAD" ng-controller="BodyController">

  <nav class="deep-orange lighten-1" role="navigation">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"><i class="material-icons">aspect_ratio</i> welpCAD</a>
      <ul class="right hide-on-med-and-down">
        <li ng-class="{active: page == 'home'}"><a href="#" ng-click="changePage('home')">Project</a></li>
        <li ng-class="{active: page == 'designer'}"><a href="#" ng-click="changePage('designer')">Designer</a></li>
        <li ng-class="{active: page == 'assembler'}"><a href="#" ng-click="changePage('assembler')">Assembler</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" ng-click="changePage('home')">Project</a></li>
        <li><a href="#" ng-click="changePage('designer')">Designer</a></li>
        <li><a href="#" ng-click="changePage('assembler')">Assembler</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile"  data-sidenav="left" data-menuwidth="500" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <div >
      <div ng-show="page=='home'">
        <div class="section" ng-controller="homeController">
        </div>
      </div>

      <div ng-show="page=='designer'">
        <div class="section" ng-controller="designerController">
          <div class="row">
            <div class="col s7 section">
              <designer-surface-directive document="document"></designer-surface-directive>
            </div>
            <div class="col s5 section">
              <div class="design-header">
              <h5 class="valign" ng-if="!document.name">Unnamed Design</h5>
              <h5 class="valign" ng-if="document.name">{{document.name}}</h5>

              <a class="btn-floating btn-medium waves-effect waves-light teal right"><i class="material-icons">edit</i></a>

              </div>

              <h6>Components</h6>

              <ul class="collection">
                <li class="collection-item avatar" style="min-height: 70px;" ng-repeat="obj in document.getObjs()">
                  <i class="material-icons circle teal">{{getIcon(obj)}}</i>
                  <i class="op-indicator" ng-class="{amber: obj.combinationOperation=='sub'}" ng-click="cycleCombinationOperations(obj)"></i>
                  <span class="title">{{obj.name}}</span>
                  <component-detail-directive obj="obj"></component-detail-directive>
                  <a href="#" class="secondary-content" ng-click="edit(obj)"><i class="material-icons">edit</i></a>
                </li>
              </ul>

              <obj-modal open="newObjectModalOpen"
                         new-obj-callback="newObjectCallback(component)"
                         get-suggested-name-callback="document.suggestName(componentType)"
                         edit-obj-callback="editObjectCallback(component, oldName)"></obj-modal>
              <div class="fixed-action-btn">
                <a href="#" class="btn-floating btn-large red tooltipped" ng-click="newObjButtonPressed()" data-position="left" data-delay="50" data-tooltip="Add component">
                  <i class="large material-icons">add</i>
                </a>
                <ul>
                  <li><a class="btn-floating blue tooltipped" ng-click="importPressed()" data-position="left" data-delay="50" data-tooltip="Import Design"><i class="material-icons">attach_file</i></a></li>
                  <li><a class="btn-floating red tooltipped" ng-click="exportPressed()" data-position="left" data-delay="50" data-tooltip="Export Design"><i class="material-icons">file_download</i></a></li>
                  <li><a class="btn-floating yellow darken-1 tooltipped" ng-click="savePressed()" data-position="left" data-delay="50" data-tooltip="Save Design"><i class="material-icons">save</i></a></li>
                  <li><a class="btn-floating green tooltipped" ng-click="previewPressed()" data-position="left" data-delay="50" data-tooltip="Preview Design"><i class="material-icons">visibility</i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="page=='assembler'">
        <div class="row section" ng-controller="assemblyController">
          <div class="col s8 section">
            <assembly-renderer-directive></assembly-renderer-directive>
          </div>
          <div class="col s4 section">
            <h5>{{getSidebarTitle()}}</h5>

            <ul class="collection" ng-if="!isPreviewMode">
            </ul>
            <p ng-if="isPreviewMode">Currently previewing an object from the designer. Press the 'Done' button below to return to your previous assembly, if any.</p>

            <a class="waves-effect waves-light btn teal" ng-click="fixSizePressed()"><i class="material-icons left">system_update_alt</i> Resize</a>
            <a class="waves-effect waves-light btn teal disabled" ng-if="isPreviewMode"><i class="material-icons left">check</i> Done</a>
          </div>
        </div>
      </div>

    </div>



</body>
</html>
