<html>
<head>
    <title>welpCAD</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/general.css">

    <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/paper.js"></script>
    <script type="text/javascript" src="js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-materialize.min.js"></script>
    <script type="text/javascript" src="js/libs/three.min.js"></script>
    <script type="text/javascript" src="js/libs/threestats.min.js"></script>
    <script type="text/javascript" src="js/libs/three.trackballcontrols.js"></script>
    <script type="text/javascript" src="js/libs/filesaver.min.js"></script>

    <!-- load code for our object model -->
    <script type="text/javascript" src="js/obj/rect.js"></script>
    <script type="text/javascript" src="js/obj/circle.js"></script>
    <script type="text/javascript" src="js/obj/document.js"></script>
    <script type="text/javascript" src="js/obj/documentReference.js"></script>
    <script type="text/javascript" src="js/obj/assembly.js"></script>

    <!-- application initialization -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/dataService.js"></script>
    <script type="text/javascript" src="js/objModal.js"></script>
    <script type="text/javascript" src="js/homeController.js"></script>
    <script type="text/javascript" src="js/designerController.js"></script>
    <script type="text/javascript" src="js/assemblyController.js"></script>
    <script type="text/javascript" src="js/componentDetailDirective.js"></script>
    <script type="text/javascript" src="js/designerSurfaceDirective.js"></script>
    <script type="text/javascript" src="js/assemblerEditControls.js"></script>
    <script type="text/javascript" src="js/assemblyRendererDirective.js"></script>
    <script type="text/javascript" src="js/confirmationDialogModal.js"></script>
    <script type="text/javascript" src="js/fileSelectModal.js"></script>
    <script type="text/javascript" src="js/editDesignModal.js"></script>
    <script type="text/javascript" src="js/selectModal.js"></script>
    <script type="text/javascript" src="js/editAssemblerCoordinateModal.js"></script>

</head>
<body ng-app="welpCAD" ng-controller="BodyController" ng-cloak>

  <nav class="deep-orange lighten-1" role="navigation">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"><i class="material-icons">aspect_ratio</i> welpCAD</a>
      <ul class="right hide-on-med-and-down">
        <li ng-class="{active: page == 'home'}"><a href="#" ng-click="changePage('home')">Project</a></li>
        <li ng-class="{active: page == 'designer'}"><a href="#" ng-click="changePage('designer')">Designer</a></li>
        <li ng-class="{active: page == 'assembler'}"><a href="#" ng-click="changePage('assembler')">Assembler</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" ng-click="changePage('home')">Project</a></li>
        <li><a href="#" ng-click="changePage('designer')">Designer</a></li>
        <li><a href="#" ng-click="changePage('assembler')">Assembler</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile"  data-sidenav="left" data-menuwidth="500" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <div>
      <div ng-show="page=='home'">
        <div class="section container" ng-controller="homeController">

          <div class="row"  ng-if="!dataService.projectOpen()">
            <div class="col s8 offset-s2 section">
              <h4>Set up a project</h4>
              <p>Welcome to welpCAD! To get started, create or open a project.</p>
              <div class="section" ng-if="projectsInHistory()">
                <div class="collection with-header">
                  <h5 class="collection-header">Recent projects</h5>
                  <a href="#!" ng-click="loadProject(name)" class="collection-item"
                     ng-repeat="(name, project) in projectsInHistory()">{{name}}</a>
                </div>
              </div>
              <a class="waves-effect waves-light btn-large" href="#!" ng-click="newProject()"><i class="material-icons left">add</i>New Project</a>
              <a class="waves-effect waves-light btn-large right" href="#!" ng-click="importPressed()"><i class="material-icons left">folder_open</i>Import Project</a>
            </div>
          </div>

          <div ng-show="dataService.projectOpen()">
            <div class="row">
              <div class="col s12 section">
                <h4 ng-click="titleClick()" class="pointerCursor">{{dataService.projectName}}</h4>
              </div>

              <!-- Dropdown Trigger -->
              <a class='dropdown-button btn' href='#' data-activates='deleteDropdown'><i class="material-icons left">delete</i> Delete Component</a>

              <!-- Dropdown Structure -->
              <ul id='deleteDropdown' class='dropdown-content'>
                <li><a href="#!" ng-click="deleteDesign()">Design</a></li>
                <li><a href="#!" ng-click="deleteAssembly()">Assembly</a></li>
                <li><a href="#!" ng-click="deleteObject()">Object</a></li>
                <li class="divider"></li>
                <li><a href="#!" ng-click="deleteProject()"><i class="material-icons left">warning</i> Project</a></li>
              </ul>

              <a class="waves-effect waves-light btn" href="#" ng-click="dataService.save()"><i class="material-icons left">save</i> Save Project</a>
              <a class="waves-effect waves-light btn" href="#" ng-click="dataService.init()"><i class="material-icons left">close</i> Close Project</a>


            </div>
            <div class="row">
              <div class="col s4 section">
                <div class="collection with-header">
                  <h5 class="collection-header">Designs</h5>
                  <a href="#!" ng-click="loadDesign(design.name)" class="collection-item"
                     ng-repeat="design in dataService.designs">{{design.name}}</a>
                  <p ng-if="!dataService.designs.length" class="collection-item">There are no designs in this project.</p>
                </div>
              </div>
              <div class="col s4 section">
                <div class="collection with-header">
                  <h5 class="collection-header">Assemblies</h5>
                  <a href="#!" ng-click="loadAssembly(assembly.name)" class="collection-item"
                     ng-repeat="assembly in dataService.assemblies">{{assembly.name}}</a>
                  <p ng-if="!dataService.assemblies.length" class="collection-item">There are no assemblies in this project.</p>
                </div>
              </div>
              <div class="col s4 section">
                <div class="collection with-header">
                  <h5 class="collection-header">Objects</h5>
                  <a href="#!" class="collection-item"
                     ng-repeat="assembly in dataService.objects">{{assembly.name}}</a>
                  <p ng-if="!dataService.objects.length" class="collection-item">There are no objects in this project.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="fixed-action-btn" ng-show="dataService.projectOpen()">
            <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="New Project" ng-click="newProject()">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating red tooltipped" ng-click="exportPressed()" data-position="left" data-delay="50" data-tooltip="Export Project"><i class="material-icons">file_download</i></a></li>

              <li><a class="btn-floating orange tooltipped" data-position="left" data-delay="50" data-tooltip="New Assembly" ng-click="newAssembly()"><i class="material-icons">library_add</i></a></li>
              <li><a class="btn-floating teal tooltipped" data-position="left" data-delay="50" data-tooltip="New Design" ng-click="newDesign()"><i class="material-icons">control_point_duplicate</i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

      <div ng-show="page=='designer'">
        <div class="section" ng-controller="designerController">
          <div class="row">
            <div class="col s7 section">
              <designer-surface-directive document="document"></designer-surface-directive>
            </div>
            <div class="col s5 section">
              <div class="design-header">
              <h5 class="valign" ng-if="!document.name">Unnamed Design</h5>
              <h5 class="valign" ng-if="document.name">{{document.name}} <span ng-if="dirty">*</span></h5>

              <a class="btn-floating btn-medium waves-effect waves-light teal right" ng-click="editDocument()"><i class="material-icons">edit</i></a>

              </div>

              <h6>Components</h6>

              <ul class="collection">
                <li class="collection-item avatar" style="min-height: 70px;" ng-repeat="obj in document.getObjs()">
                  <i class="material-icons circle teal">{{getIcon(obj)}}</i>
                  <i class="op-indicator" ng-class="{amber: obj.combinationOperation=='sub'}" ng-click="cycleCombinationOperations(obj)"></i>
                  <span class="title">{{obj.name}}</span>
                  <component-detail-directive obj="obj"></component-detail-directive>
                  <a href="#" class="secondary-content" ng-click="editComponent(obj)"><i class="material-icons">edit</i></a>
                </li>
              </ul>

              <obj-modal new-obj-callback="newObjectCallback(component)"
                         get-suggested-name-callback="suggestNameCallback(componentType)"
                         edit-obj-callback="editObjectCallback(component, oldName)"></obj-modal>
              <edit-design-modal document="document"></edit-design-modal>
              <div class="fixed-action-btn">
                <a href="#" class="btn-floating btn-large red tooltipped" ng-click="newObjButtonPressed()" data-position="left" data-delay="50" data-tooltip="Add component">
                  <i class="large material-icons">add</i>
                </a>
                <ul>
                  <li><a class="btn-floating blue tooltipped" ng-click="importPressed()" data-position="left" data-delay="50" data-tooltip="Import Design"><i class="material-icons">attach_file</i></a></li>
                  <li><a class="btn-floating red tooltipped" ng-click="exportPressed()" data-position="left" data-delay="50" data-tooltip="Export Design"><i class="material-icons">file_download</i></a></li>
                  <li><a class="btn-floating yellow darken-1 tooltipped" ng-click="savePressed()" data-position="left" data-delay="50" data-tooltip="Save Design"><i class="material-icons">save</i></a></li>
                  <li><a class="btn-floating green tooltipped" ng-click="previewPressed()" data-position="left" data-delay="50" data-tooltip="Preview Design"><i class="material-icons">visibility</i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="page=='assembler'">
        <div class="row section" ng-controller="assemblyController">
          <div class="col s8 section">
            <assembly-renderer-directive></assembly-renderer-directive>
          </div>
          <div class="col s4 section">
            <h5 ng-click="titleClick()" ng-class="{pointerCursor: !isPreviewMode && assembly}">{{getSidebarTitle()}} <span ng-if="dirty">*</span></h5>

            <ul class="collection" ng-if="!isPreviewMode && assembly" style="height: 400px; overflow-y:auto;">
              <a class="collection-item avatar" style="min-height: 70px; color: #000000;" ng-repeat="obj in assembly.getObjs()" ng-class="{active: selected==obj.name}" href="#" ng-click="select(obj.name)">
                <i class="material-icons circle blue">view_agenda</i>
                <span class="title">{{obj.name}}</span>
                <p ng-if="obj.componentType=='documentReference'">Design <i>({{obj.documentName}})</i></p>
              </a>
            </ul>
            <p ng-if="isPreviewMode">Currently previewing an object from the designer. Press the 'Done' button below to return to the designer.</p>
            <p ng-if="!isPreviewMode && !assembly">Please open an assembly from the project view.</p>

            <a class="waves-effect waves-light btn teal right" ng-if="isPreviewMode" ng-click="resetPreview()"><i class="material-icons left">check</i> Done</a>

            <assembler-edit-controls ng-if="!isPreviewMode && assembly"></assembler-edit-controls>
          </div>
          <div class="fixed-action-btn">
            <a href="#" class="btn-floating btn-large red tooltipped" ng-click="newPressed()" data-position="left" data-delay="50" data-tooltip="Add Design to Assembly">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating yellow darken-1 tooltipped" ng-click="savePressed()" data-position="left" data-delay="50" data-tooltip="Save Assembly"><i class="material-icons">save</i></a></li>
              <li><a class="btn-floating green darken-3 tooltipped" ng-click="paint()" data-position="left" data-delay="50" data-tooltip="Resize and Paint"><i class="material-icons">photo_size_select_large</i></a></li>
            </ul>
          </div>
        </div>

        <edit-assembler-coordinate-modal></edit-assembler-coordinate-modal>
      </div>

      <confirmation-dialog-modal></confirmation-dialog-modal>
      <file-select-modal></file-select-modal>
      <select-modal></select-modal>
    </div>



</body>
</html>
