<!-- Modal Trigger -->
<a class='btn' style="display: none;" data-target='objModalContainer' open="open" complete="onModalComplete()" modal>show Modal</a>
<!-- Modal Structure -->
<div id="objModalContainer" class="modal" style="max-height: 85%;">
  <div class="modal-content">
    <h4 ng-if="!isEditMode">New object</h4>
    <h4 ng-if="isEditMode">Edit object</h4>


    <div class="fields-container">
      <div class="row" style="margin-bottom: 2px;"><!-- Type selector -->
        <div class="col s5">
          <p>
            <input class="with-gap" name="typeSelector" type="radio" id="rectSelector" ng-click="setType('rect')" checked />
            <label for="rectSelector">Rectangle</label>
          </p>

          <p>
            <input class="with-gap" name="typeSelector" type="radio" id="circSelector" ng-click="setType('circle')"  />
            <label for="circSelector">Circle</label>
          </p>
        </div>
        <div class="col s7">
          <canvas id="newObjModalCanvas"></canvas>
        </div>
      </div>

      <div class="row" style="margin-bottom: 2px;"> <!-- Name -->
        <div class="input-field col s12">
          <input id="name_inpNewObj" type="text" ng-model="name" ng-class="nameValidation" ng-keyup="$event.keyCode == 13 && done()">
          <label for="name_inpNewObj">Name</label>
        </div>
      </div>

      <div class="row" style="margin-bottom: 2px;"> <!-- Position input -->
        <div class="input-field col s3">
          <input id="x_inpNewObj" type="text" ng-model="pos.x" ng-class="xValidation" ng-keyup="$event.keyCode == 13 && done()">
          <label for="x_inpNewObj">X position</label>
        </div>
        <div class="input-field col s3">
          <input id="y_inpNewObj" type="text" ng-model="pos.y" ng-class="yValidation" ng-keyup="$event.keyCode == 13 && done()">
          <label for="y_inpNewObj">Y position</label>
        </div>
        <div class="input-field col s3">
          <input id="width_inpNewObj" type="text" ng-model="size.width" ng-class="widthValidation" ng-keyup="$event.keyCode == 13 && done()">
          <label for="width_inpNewObj">Width</label>
        </div>
        <div class="input-field col s3">
          <input id="height_inpNewObj" type="text" ng-model="size.height" ng-class="heightValidation" ng-keyup="$event.keyCode == 13 && done()">
          <label for="height_inpNewObj">Height</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat" ng-click="done()"><span ng-if="!isEditMode">Create</span><span ng-if="isEditMode">Save</span></a>
  </div>
</div>
